<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

	<!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

	<!-- Medium Editor StyleSheet -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

	<!-- Editor Theme -->
	<link rel="stylesheet" href="/view/public/css/clean-blog.min.css">
	<link rel="stylesheet" href="/view/public/css/beagle.min.css">
</head>
<body>

	<header>
		
	</header>

	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 editable">
                <H1>Start writing here...</H1>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	<footer>

	</footer>
	
	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Medium Editor JavaScript -->
	<script src="https://cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>

	<!-- Editor Javascript -->
	<script src="/view/public/js/editor.js"></script>
</body>
</html>